<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = 'utf-8'>
  <title>Spotify</title> 
  <link rel = 'stylesheet' href='./stylesheets/styles.css'>
</head>
<body>
  <form action="/search" method = 'GET'>
  <input type="text" name="artist"> 
  <button type = "submit">Search for an Artist</button>
  </form>

</body>

</html>